* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova light', sans-serif;
  color: #262626;
}

.border-o {
  border: 2px solid #103c36;
  padding: 20px 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #103c36;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar {
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
  background-color: #fff;
}

.navbar .menu {
  position: absolute;
  z-index: 0;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 80px;
  right: 0;
  width: 100%;
  padding: 20px 0;
  background: url("../img/hero/menu-bg.jpg") no-repeat center;
  border: none;
  border-bottom: 2px solid #fff;
}

.navbar .menu_active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.navbar .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}

.navbar .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 80px;
  width: 70px;
  outline: none;
  cursor: pointer;
}

.navbar .menu-btn__line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 3px 0;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border: none;
  height: 80px;
}

.logo__text {
  display: block;
  font-size: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 600px) {
  .navbar {
    position: fixed;
    width: 100%;
  }
  .navbar-wrap {
    min-height: 60px;
  }
  .navbar__logo {
    height: 60px;
  }
  .navbar .menu {
    position: fixed;
    top: 60px;
  }
  .navbar .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .menu-btn {
    height: 60px;
  }
  .navbar .menu__link {
    margin-bottom: 50px;
  }
  .navbar .menu__link:last-child {
    margin-bottom: 0;
  }
}

.hero {
  background: url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 690px;
}

@media (max-width: 600px) {
  .hero {
    background-size: 700px;
    padding-top: 250px;
  }
}
/*# sourceMappingURL=style.css.map */