.hero
    background: $primary url('../img/hero/hero-bg.jpg') no-repeat center left 200px
    background-size: contain
    padding-top: 250px
    padding-bottom: 300px
    text-align: right
    color: #fff
    &__title
        font-size: 30px
        padding-right: 200px
        +bold
    &__subtitle
        font-size: 20px
        padding-right: 200px

@media (max-width: 1023px)
    .hero        
        background: $primary url('../img/hero/hero-bg.jpg') no-repeat top
        background-size: contain
        background-size: 150px
        padding-top: 250px
        padding-bottom: 200px
        text-align: center
        &__title
            margin-top: 100px
            font-size: 50px
            padding-right: 0px
        &__subtitle
            padding-right: 0px
@media (max-width: 767px)
    .hero        
        background: $primary url('../img/hero/hero-bg.jpg') no-repeat top
        background-size: contain
        background-size: 150px
        padding-top: 250px
        padding-bottom: 200px
        text-align: center
        &__title
            margin-top: 100px
            font-size: 25px
            padding-right: 0px
        &__subtitle
            font-size: 15px
            padding-right: 0px
