.offer
    padding: 129px 0
    &-block
        background-color: #fff
        box-shadow: 0 5px 15px rgba($text-color, 0.4)
        padding: 80px
        margin-top: -150px
        background: #fff url('../img/offer-bg.jpg') no-repeat center right
        background-size: contain
    &__title
        font-size: 25px
        margin-top: 0
        text-transform: uppercase
        +bold
        margin-bottom: 20px
    &__subtitle
        display: block
        font-size: 20px
        margin-bottom: 40px
    .form
        &__row
            display: flex
            align-items: center
        &__label
            display: block
            font-size: 15px
        &__group
            flex-basis: 30%
        &__input
            width: 100%
            margin-top: 10px 
        &__button
            margin-top: 10px 
            width: 60%
            font-size: 15px